* {
  box-sizing: border-box;
}

:root {
  --bg: #F2F4F3;
  --text: #0A0908;
  --accent: #49111C;
  --border: #A9927D;
  --muted: #5E503F;

}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5;
  max-width:700px;
  margin: 40px auto;
}


header {
    line-height: 1.2;
    text-align: center;
}

